---
layout: default
---
<!-- Home -->
<section class="wrapper-lg hero colored-bg" id="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>We make Great Products</h1>
        <p class="lead">
          We are passionate about creating great products.
          <br>
          We work closely with entreperneurs to tranform their ideas into reality.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Services -->
<section class="wrapper-lg" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Services</h1>
        <p class="lead">Our Specialized Expertise</p>
        <br class="spacer-lg">
      </div>
      <div class="col-sm-4 service-block">
        <div class="tile">
          <div class="hexagon responsive-design-service">
            <i class="icon-mobile-phone icon-3x"></i>
            <i class="icon-desktop icon-3x"></i>
          </div>
          <h4>Responsive Web Design</h4>
          <p>Our designs will be always portray as WOW factor. We make sure your application works on Desktop as well as on mobile devices.</p>
        </div>
        <br class="spacer-lg">
      </div>
      <div class="col-sm-4 service-block">
        <div class="tile">
          <div class="hexagon">
            <img class="img-laravel" src="{{ root_url }}/images/laravel.png">
          </div>
          <h4>Laravel Consulting</h4>
          <p>We are providing Laravel based solutions to our Customers. Laravel is a clean and classy framework for PHP web development.</p>
        </div>
        <br class="spacer-lg">
      </div>
      <div class="col-sm-4 service-block">
        <div class="tile">
          <div class="hexagon">
            <img class="angularjs-img" src="{{ root_url }}/images/angularjs.png" alt="AngularJS">
          </div>
          <h4>AngularJS</h4>
          <p>We are expertised in AngularJS Based Web Applications. AngularJS is Javascript MVC framework to build maintenable web applications.</p>
        </div>
        <br class="spacer-lg">
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- Process -->
<section class="wrapper-lg" id="process">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Plan</h1>
        <p class="lead">
          We begin by defining the scope of your project. We'll go over existing plans and designs to figure out where and how we can be most useful. We'll discuss which languages and frameworks best suit your needs, and talk about how to get the ball rolling. We'll also go over your preliminary budget.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h1>Build</h1>
        <p class="lead">
          We develop products using a lightweight version of the Agile method, which distills the build into a series of short development cycles. At the beginning of each cycle, we work with your team to define feature priorities. When the cycle is complete, we test all aspects of the product before moving forward.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h1>Testing</h1>
        <p class="lead">
          After building your product, Our engineering team thoroughly tests the code to find and eliminate any problems—and make sure your software is working properly. This step is essential in assuring an error-free launch.
        </p>
      </div>
    </div>


  </div>
</section>

<!-- Clients -->
<section class="wrapper-lg bg-alt" id="client">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Our Clients</h1>
        <p class="lead">We have helped many startups get their stuff done.</p>
        <br class="spacer-lg">
      </div>
      <div class="col-lg-12 clients text-center">
        <div class="row">
          <div class="col-md-4">
            <a href="https://www.facebook.com/MyHomazooma" target="_blank">
              <img src="{{ root_url }}/images/clients/homazooma.png" class="first-client-img">
            </a>
          </div>
          <div class="col-md-4">
            <a href="https://www.hdinteractive.com" target="_blank">
              <img src="{{ root_url }}/images/clients/hd.png">
            </a>
          </div>
          <div class="col-md-4">
            <a href="https://www.tastyverytasty.com" target="_blank">
              <img class="adjust" src="{{ root_url }}/images/clients/tasty2.png">
            </a>
          </div>
        </div>
        <div class="row client-list-rack">
          <div class="col-md-6">
            <a href="https://lilipond.com/" target="_blank">
              <img class="adjust" src="{{ root_url }}/images/clients/lilipond.png">
            </a>
          </div>
          <div class="col-md-6">
            <a href="http://doccaster.com/" target="_blank">
              <img src="{{ root_url }}/images/clients/dc-logo.png">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section class="wrapper-lg" id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>A final word you might want to hear.</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row client-tweet-row">
      <div class="col-lg-6 text-center">
        <img class="img-circle" src="{{ root_url }}/images/clients/client-tweet.gif">
        <p>Saturday, December 21, 2013</p>
        <h4>Client Name Goes here</h4>
        <p class="client-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, consequuntur, illo rerum harum deleniti provident quos at recusandae architecto nemo cum quasi voluptatibus aperiam quae cupiditate molestiae iste dolorem sint!
        </p>
      </div>
      <div class="col-lg-6 text-center">
        <img class="img-circle" src="{{ root_url }}/images/clients/client-tweet.gif">
        <p>Saturday, December 21, 2013</p>
        <h4>Client Name Goes here</h4>
        <p class="client-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, consequuntur, illo rerum harum deleniti provident quos at recusandae architecto nemo cum quasi voluptatibus aperiam quae cupiditate molestiae iste dolorem sint!
        </p>
      </div>
    </div>
    <div class="row client-tweet-row">
      <div class="col-lg-6 text-center">
        <img class="img-circle" src="{{ root_url }}/images/clients/client-tweet.gif">
        <p>Saturday, December 21, 2013</p>
        <h4>Client Name Goes here</h4>
        <p class="client-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, consequuntur, illo rerum harum deleniti provident quos at recusandae architecto nemo cum quasi voluptatibus aperiam quae cupiditate molestiae iste dolorem sint!
        </p>
      </div>
      <div class="col-lg-6 text-center">
        <img class="img-circle" src="{{ root_url }}/images/clients/client-tweet.gif">
        <p>Saturday, December 21, 2013</p>
        <h4>Client Name Goes here</h4>
        <p class="client-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, consequuntur, illo rerum harum deleniti provident quos at recusandae architecto nemo cum quasi voluptatibus aperiam quae cupiditate molestiae iste dolorem sint!
        </p>
      </div>
    </div>
    <div class="row client-tweet-row">
      <div class="col-lg-6 text-center">
        <img class="img-circle" src="{{ root_url }}/images/clients/client-tweet.gif">
        <p>Saturday, December 21, 2013</p>
        <h4>Client Name Goes here</h4>
        <p class="client-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, consequuntur, illo rerum harum deleniti provident quos at recusandae architecto nemo cum quasi voluptatibus aperiam quae cupiditate molestiae iste dolorem sint!
        </p>
      </div>
      <div class="col-lg-6 text-center">
        <img class="img-circle" src="{{ root_url }}/images/clients/client-tweet.gif">
        <p>Saturday, December 21, 2013</p>
        <h4>Client Name Goes here</h4>
        <p class="client-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, consequuntur, illo rerum harum deleniti provident quos at recusandae architecto nemo cum quasi voluptatibus aperiam quae cupiditate molestiae iste dolorem sint!
        </p>
      </div>
    </div>
    <div class="row client-tweet-row client-tweet-last-row ">
      <div class="col-lg-6 text-center">
        <img class="img-circle" src="{{ root_url }}/images/clients/client-tweet.gif">
        <p>Saturday, December 21, 2013</p>
        <h4>Client Name Goes here</h4>
        <p class="client-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, consequuntur, illo rerum harum deleniti provident quos at recusandae architecto nemo cum quasi voluptatibus aperiam quae cupiditate molestiae iste dolorem sint!
        </p>
      </div>
      <div class="col-lg-6 text-center">
        <img class="img-circle" src="{{ root_url }}/images/clients/client-tweet.gif">
        <p>Saturday, December 21, 2013</p>
        <h4>Client Name Goes here</h4>
        <p class="client-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, consequuntur, illo rerum harum deleniti provident quos at recusandae architecto nemo cum quasi voluptatibus aperiam quae cupiditate molestiae iste dolorem sint!
        </p>
      </div>
    </div>
  </div>
</section>

<footer>{% include page_footer.html %}</footer>
