.progress {
  height: 30px;
}

.progress-bar {
  background-color: #917ab8;
}

.progress-bar-success {
  background-color: #27ae60;
}

.progress-bar-info {
  background-color: #3498db;
}

.progress-bar-warning {
  background-color: #f39c12;
}

.progress-bar-danger {
  background-color: #c0392b;
}